@use "./colors.scss" as c;
* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.baseContainer {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "footer";
    background: white;
    width: 100%;
    height: 100%;

    header {
        display: flex;
        flex-flow: column wrap;
        grid-area: header;
        background-color: c.$divider;
        height: 5rem;
        width: 100%;
        padding: 0 10rem;

        a:nth-child(1) img {
            width: 50%;
            height: 100%;
            overflow: hidden;
        }

        a:nth-child(2) {
            background-color: inherit;
            align-self: flex-end;
        }

        a i {
            font-size: 3rem;
        }

    }
    nav {
        display: flex;
        grid-area: nav;
        height: 4rem;
        width: 100%;
        background-color: c.$darkPrimary;
        padding: 0 10rem;

        .links {
            background-color: inherit;
            align-self: center;
            width: 100%;
        }
    }

    footer {
        grid-area: footer;
        height: 10rem;
        width: 100%;
        background-color: black;

        p {
            color: c.$secondaryText;
        }
    }

}