<footer>
    <div class="duvidas">
        <h2>Dúvidas</h2>
        <ul>
            <li><a href="#">Quem somos</a></li>
            <li><a href="#">Perguntas frequentes</a></li>
        </ul>
    </div>

    <div class="ajuda">
        <h2>Ajuda</h2>
        <ul>
            <li><a href="#">Fale conosco</a></li>
            <li><a href="#">Erros comuns</a></li>
        </ul>
    </div>
</footer>