<nav>
    <div class="links">
        <a href="./index.html">Home</a>
        <a href="./listaDeCarros.html">Lista de carros</a>
        <a href="./quemSomos.html">Quem somos</a>
        <a href=""></a>
    </div>
</nav>