<nav class="nav">
    <div class="links">
        <a href="./">Home</a>
        <a href="./productList">Lista de carros</a>
        <a href="#">Quem somos</a>
        <a href=""></a>
    </div>
</nav>

<div class="responsive-navBar" id="RnavBar">
    <ul>
        <li>
            <a href="./account.html">Minhas reservas</a>
        </li>
        <li><a href="./">Home</a></li>
        <li><a href="./productList">Lista de carros</a></li>
        <li><a href="#">Quem somos</a></li>
    </ul>
</div>