<nav class="nav">
    <div class="links">
        <a href="./productList">Lista de carros</a>
        <a href="#">Quem somos</a>
        <a href=""></a>
    </div>
    <a  href="./login">
        <div class="logout-nav">
            <i class='bx bx-log-out'></i>
            <span>Sair</span>
        </div>
    </a>
</nav>

<div class="responsive-navBar" id="RnavBar">
    <ul>
        <a href="./user">
            <li>
                <span>Minha conta</span>
            </li>
        </a>
        <a href="./productList">
            <li>
                <span>Lista de carros</span>
            </li>
        </a>
        <a href="#">
            <li>
                <span>Quem somos</span>
            </li>
        </a>
        <a href="./login">
            <li>
                <span>Sair</span>
            </li>
        </a>
    </ul>
</div>