@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #BDBDBD;
}

.baseContainer {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-rows: 7vh 5vh;
  background: #BDBDBD;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
.baseContainer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-area: header;
  background-color: #BDBDBD;
  height: 7vh;
  width: 100%;
  padding: 0 2rem;
  overflow: hidden;
}
.baseContainer header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
  transform: scale(0.8);
}
.baseContainer header .logo a img {
  margin-top: 2rem;
}
.baseContainer header .logo a i {
  font-size: 3rem;
  color: #D32F2F;
}
.baseContainer header > a:nth-child(2) {
  color: #212121;
  font-weight: bold;
  background-color: inherit;
  justify-self: flex-end;
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: #FFCDD2;
}
.baseContainer nav {
  display: flex;
  grid-area: nav;
  height: 5vh;
  width: 100%;
  background-color: #D32F2F;
  padding: 0 10rem;
  border-radius: 0 0 2rem 2rem;
}
.baseContainer nav .links {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  background-color: inherit;
  align-self: center;
  width: 100%;
}
.baseContainer nav .links a {
  color: #212121;
  font-weight: bold;
}
.baseContainer footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10rem;
  grid-area: footer;
  height: 20rem;
  width: 100%;
  background-color: black;
  padding: 2rem 5rem;
  border-radius: 2rem 2rem 0 0;
}
.baseContainer footer .duvidas h2:nth-child(1), .baseContainer footer .ajuda h2:nth-child(1) {
  color: white;
}
.baseContainer footer .duvidas ul, .baseContainer footer .ajuda ul {
  line-height: 3rem;
}
.baseContainer footer .duvidas ul li a, .baseContainer footer .ajuda ul li a {
  color: #757575;
}

.productContainer {
  grid-area: "main";
  display: grid;
  grid-template-areas: "image info" "description description";
  grid-template-columns: 1fr 1fr;
  padding: 4rem 10rem;
  align-items: center;
}
.productContainer .image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 58.6rem;
  justify-self: end;
  background-color: white;
  border-radius: 2rem;
  border: 1px dashed red;
}
.productContainer .image #carName {
  margin-top: 1rem;
  font-size: 3rem;
}
.productContainer .image .main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 31.6rem;
  background-color: white;
  border-left: 1px dashed red;
  border-right: 1px dashed red;
}
.productContainer .image .main #mainImage {
  mix-blend-mode: multiply;
}
.productContainer .image .main p {
  font-size: 4rem;
}
.productContainer .image .alt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 58.6rem;
  gap: 2rem;
}
.productContainer .image .alt a {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #D32F2F;
  border-radius: 50%;
  border: none;
}
.productContainer .info {
  grid-area: info;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  border-radius: 2rem;
  padding: 2.5rem 4rem;
  border: 1px dashed red;
  width: 40rem;
  height: 42.5rem;
  margin-left: 18rem;
}
.productContainer .info * {
  font-size: 2rem;
}
.productContainer .info .infoIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 6rem;
}
.productContainer .info .infoIcons div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productContainer .info .infoIcons div img {
  height: 50px;
  width: 50px;
}
.productContainer .info #price {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productContainer .info #price span:nth-child(2) {
  font-size: 4rem;
}
.productContainer .info a {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  align-self: center;
  background-color: #FFCDD2;
  text-decoration: none;
  font-weight: bold;
  color: #212121;
}
.productContainer .description {
  grid-area: description;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin-top: 5rem;
  border: 1px dashed red;
  border-radius: 2rem;
  width: 100%;
  background-color: white;
  padding: 2rem 4rem;
}

.createProductContainer form {
  margin: 1rem 2rem;
  display: grid;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productNotFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: white;
  border-radius: 2rem;
  border: 1px solid red;
  width: 50rem;
  height: 50%;
  margin: 0 auto;
}

/*# sourceMappingURL=base.css.map */
