@use '../common/index' as c;
$headerHeight: 15vh;
$navHeight: 5vh;

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: c.$divider;
}

html, body {
    height: 100%;
}

.unactive {
    display: none;
}

.baseContainer {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "main"
    "footer";
    background: c.$divider;
    min-height: 100%;
    width: 100%;


    header {
        @include c.flex(space-between, center, row, nowrap);
        grid-area: header;
        background-color: c.$divider;
        height: $headerHeight;
        width: 100%;
        padding: 0 2rem;
        overflow: hidden;

        .logo {
            @include c.flex(center, center, row, nowrap);
            gap: 7.5rem;
            transform:scale(0.8);

            div:nth-child(1) {
                @include c.flex-center;
                margin-left: 1rem;
                width: 10rem;
                height: 5rem;

                a img {
                    width: inherit;
                    height: inherit;
                    margin-top: 2rem;
                    object-fit: contain;
                    overflow: hidden;
                }
            }

            div:nth-child(2) {
                @include c.flex-center;
                gap: 1rem;
                a i {
                    font-size: 3rem;
                    margin-top: 1rem;
                    color: c.$darkPrimary;  
                }
            }
        }

        > a:nth-child(2) {
            color: c.$primaryText;
            font-weight: bold;
            background-color: inherit;
            justify-self: flex-end;
            padding: 1.5rem;
            border-radius: c.$borderRadius;
            background-color: c.$lightPrimary;
        }

        .btn-dropdown{
            display: none;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        justify-content: space-between;
        grid-area: nav;
        height: $navHeight;
        width: 100%;
        padding-left: 10rem;
        // border-radius: 0 0 c.$borderRadius c.$borderRadius;

        @media screen and (min-width: 641px) {
            background-color: lightgreen;
        }

        .links {
            @include c.flex(initial, initial, row, nowrap);
            gap: 2rem;
            background-color: inherit;
            align-self: center;
            width: auto;
            width: auto;

            a {
                color: c.$primaryText;
                font-weight: bold;
            }
        }

        .logout-nav{
            @include c.flex-center;
            height: 100%;
            margin-right: 5.5rem;

            i{
                font-size: 2.3rem;
                color: c.$primaryText;
            }

            span{
                font-weight: bold;
                color: c.$primaryText
            }
        }
        .logout-nav{
            @include c.flex-center;
            height: 100%;
            margin-right: 5.5rem;

            i{
                font-size: 2.3rem;
                color: black;
            }

            span{
                font-weight: bold;
                color: black
            }
        }

        
    }

    footer {
        @include c.flex(flex-start, flex-start, row, nowrap);
        gap: 10rem;
        grid-area: footer;
        height: 20rem;
        width: 100%;
        background-color: black;
        padding: 2rem 5rem;
        // border-radius: c.$borderRadius c.$borderRadius 0 0;

        .duvidas, .ajuda {
            h2:nth-child(1) {
                color: white;
            }

            ul {
                line-height: 3rem;

                li {
                    a {
                        color: c.$secondaryText;
                    }
                }
            }
        }
    }


    @media(max-width:640px){

        header{
            padding: 2rem;
            display: flex;
            justify-content: space-between;

            .logo{
                // margin-left: -3.2rem;
            }

            .btn-dropdown{
                display: block;
                background-color: black ;
                height: 4rem;
                width: 4rem;
                @include c.flex-center;
                    i {
                    font-size: 3rem;
                    color: c.$darkPrimary;
                }
            }
        }


        .nav{
            background-color: none;

            .links {
                display: none;
            }

        }

        .btn-reservas{
            display: none;
        }

        

        .responsive-navBar{
            ul{
                list-style: none;
                
                li{
                    padding: .5rem;
                    background-color: c.$accent;
                    min-width: 100%;
                    text-align: center;
                    &:hover{
                        background-color:#0395d8 ;
                    }
                    
                        span{
                            font-size: 1.7rem;
                            color: black;
                            font-weight: bold;
                        }
                }
                z-index: 2;
                position: absolute;
                left: 0rem;
                top: 5.6rem;
                width: 100%;
            }

        }

        footer{
            @include c.flex-center;
            padding:1rem;
            gap:2rem;
        }
    }
}
