@use '../common/index' as c;
$headerHeight: 7vh;
$navHeight: 5vh;

a {
    text-decoration: none;
}

.baseContainer {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: $headerHeight $navHeight;
    background: c.$divider;
    height: 100vh;
    width: 100vw;


    header {
        @include c.flex(space-between, center, row, nowrap);
        grid-area: header;
        background-color: c.$divider;
        height: $headerHeight;
        width: 100%;
        padding: 0 2rem;
        overflow: hidden;

        .logo {
            @include c.flex(center, center, row, nowrap);
            gap: 3rem;
            transform:scale(0.8);

            a {
                img {
                    margin-top: 2rem;
                }

                i {
                    font-size: 3rem;
                    color: c.$darkPrimary;  
                }
            }
        }

        > a:nth-child(2) {
            color: c.$primaryText;
            font-weight: bold;
            background-color: inherit;
            justify-self: flex-end;
            padding: 1.5rem;
            border-radius: c.$borderRadius;
            background-color: c.$lightPrimary;
        }
    }

    nav {
        display: flex;
        grid-area: nav;
        height: $navHeight;
        width: 100%;
        background-color: c.$darkPrimary;
        padding: 0 10rem;
        border-radius: 0 0 c.$borderRadius c.$borderRadius;

        .links {
            @include c.flex(initial, initial, row, nowrap);
            gap: 2rem;
            background-color: inherit;
            align-self: center;
            width: 100%;

            a {
                color: c.$primaryText;
                font-weight: bold;
            }
        }
    }

    footer {
        @include c.flex(flex-start, flex-start, row, nowrap);
        gap: 10rem;
        grid-area: footer;
        height: 20rem;
        width: 100%;
        background-color: black;
        padding: 2rem 5rem;
        border-radius: c.$borderRadius c.$borderRadius 0 0;

        .duvidas, .ajuda {
            h2:nth-child(1) {
                color: white;
            }

            ul {
                line-height: 3rem;

                li {
                    a {
                        color: c.$secondaryText;
                    }
                }
            }
        }
    }
}