@use '../common/index' as c;

.createProductPostContainer {
    grid-area: main;
    @include c.flex-center;
    flex-flow: column nowrap;
    background-color: white;
    // border: 1px solid red;
    box-shadow: 0 0 .5rem black;
    border-radius: c.$borderRadius;
    width: 30rem;
    margin: 2rem auto 45rem auto;
    gap: 2rem;
    padding: 3rem;

    a {
        text-decoration: none;
        color: black;
    }
}