@use '../common/index' as c;

$boxSize: 8rem;



.createProductContainer {
    @include c.flex-center;
    grid-area: main;
    background-color: white;
    padding: 1rem;
    margin: 3rem 3rem;
    border-radius: c.$borderRadius;
    // border: 1px solid red;
    box-shadow: 0 0 .5rem black;
    height: auto;

    @media screen and (min-width: 767px) {
        width: 70rem;
    }
    
    form {
        @include c.flex-center;
        flex-flow: column wrap;
        gap: 1rem;

        .nomeDoVeiculo {
            margin-bottom: 3rem;
            @include c.flex-center;
            gap: 1rem;

            @media screen and (max-width: 766px) {
                flex-flow: column nowrap;

                > input, > select {
                    width: 20rem;
                    text-align: center;
                }
            }
        }

        .details {
            @include c.flex-center;
            flex-flow: column wrap;
            gap: 0.8rem;

            > div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                > label {
                    justify-self: end;
                }

                > input, > select {
                    width: 20rem;
                }

                > textarea {
                    grid-column: 1 / 3;
                    width: 100%;
                }

                > #trunkL {
                    height: 2.5rem;
                    align-self: center;
                }

                > #imgLabel, > input[type=file] {
                    grid-column: 1 / 3;
                    justify-self: center;
                }

                > #descriptionLabel {
                    grid-column: 1 / 3;
                    justify-self: center;
                }

                > input[type=file] {
                    width: 100%;
                    display: hidden;
                }

                > input[type=file]::file-selector-button {
                    background-color: c.$lightPrimary;
                    border: none;
                    padding: 1rem;
                    border-radius: c.$borderRadius;
                    // box-shadow: 0 0 .5rem black;
                    font-weight: bold;
                }
            }

            // .row {
            //     @include c.flex-center;
            //     gap: 2rem;
            // }
        }

        label {
            font-weight: bold;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        button {
            margin-top: 3rem;
            background-color: c.$lightPrimary;
            border: none;
            width: 10rem;
            height: 4rem;
            border-radius: c.$borderRadius;
            font-size: 2rem;
            box-shadow: 0 0 .5rem black;
            transition: all 0.2s ease-in-out;
        }

        button:hover {
            transform:scale(1.1);
        }
    }
}