@use '../common/index' as c;

.deleteProductContainer {
    grid-area: main;
    @include c.flex-center;
    background-color: white;
    border-radius: c.$borderRadius;
    width: 30rem;
    height: 14rem;
    border: 1px solid red;

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    form {
        @include c.flex-center;
        flex-flow: column nowrap;
        gap: 2rem;

        input {
            text-align: center;
            width: 12rem;
        }

        button {
            border: none;
            background-color: c.$lightPrimary;
            border-radius: c.$borderRadius;
            width: 10rem;
            height: 3rem;
            font-weight: bold;
        }
    }
}