@use '../common/index' as c;
$containerHeight: 31.6rem;

.productContainer {
    grid-area: main;
    display: grid;
    min-height: 100%;
    gap: 2rem;
    padding: 3rem 3rem;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1367px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 1366px) {
        grid-template-columns: 1fr
    }

    .image {
        @include c.flex-center;
        flex-direction: column;
        width: 58.6rem;
        background-color: white;
        border-radius: c.$borderRadius;
        box-shadow: 0 0 .5rem black;

        @media screen and (min-width: 1367px) {
            justify-self: end;
        }

        @media screen and (max-width: 1366px) {
            justify-self: center;
        }

        #carName {
            margin-top: 1rem;
            font-size: 3rem;
        }

        .main {
            @include c.flex-center;
            width: inherit;
            margin: 1rem;
            height: $containerHeight;
            background-color: white;
            // box-shadow: 0 0 .2rem black;
            overflow: hidden;

            #mainImage {
                width: inherit;
                height: inherit;
                object-fit: contain;
                mix-blend-mode: multiply;
                margin: 1rem;
            }
            
            p {
                font-size: 4rem;
            }
        }

        .alt {
            @include c.flex-center;
            height: 5rem;
            width: 58.6rem;
            gap: 2rem;
            
            a {
                height: 1.5rem;
                width: 1.5rem;
                background-color: black;
                border-radius: 50%;
                border: none;
                transition: .2s ease-in-out;
                box-shadow: 0 0 .5rem black;
            }

            a:hover {
                transform:scale(1.3);
            }
        }
    }

    .info {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        background-color: white;
        border-radius: c.$borderRadius;
        padding: 3rem 4rem;
        box-shadow: 0 0 .5rem black;
        width: 58.6rem;
        height: 100%;

        @media screen and (min-width: 1367px) {
            // margin-left: 18rem;
        }

        @media screen and (max-width: 1366px) {
            justify-self: center;
            width: 58.6rem;
        }

        * {
            font-size: 2rem;
        }

        > .infoRow {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            gap: 1rem;

            > span:nth-child(1) {
                font-weight: bold;
                justify-self: end;
            }
        }

        .infoIcons {
            @include c.flex-center;
            margin-top: 1rem;
            gap: 6rem;

            div {
                @include c.flex-center;
                flex-direction: column;
                
                > img {
                    height: 50px;
                    width: 50px;
                }

                > p {
                    font-weight: bold;
                }
            }
        }

        #price {
            align-self: center;
            @include c.flex-center;

            span:nth-child(2) {
                font-size: 4rem;
            }
        }

        > #alugar {
            margin-top: 1rem;
            padding: 1rem;
            border-radius: c.$borderRadius;
            align-self: center;
            background-color: c.$lightPrimary;
            text-decoration: none;
            font-weight: bold;
            color: c.$primaryText;
            transition: .2s ease-in-out;
        }

        > #alugar:hover {
            transform:scale(1.1);
        }
    }

    .description {
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
        // margin-top: 5rem;
        box-shadow: 0 0 .5rem black;
        border-radius: c.$borderRadius;
        width: 100%;
        background-color: white;
        padding: 2rem 4rem;
        margin-bottom: 15rem;

        @media screen and (min-width: 1367px) {
            grid-column: 1 / 3;
        }
    }
}