@use '../common/index' as c;
$containerHeight: 31.6rem;

.productContainer {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "image info"
    "description description";
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    padding: 4rem 10rem;
    // justify-content: center;
    align-items: center;

    .image {
        grid-area: image;
        @include c.flex-center;
        flex-direction: column;
        // margin: 0 auto;
        width: 58.6rem;
        justify-self: end;
        // margin-right: 4vw;
        // margin-left: 2vw;
        background-color: white;
        border-radius: c.$borderRadius;
        border: 1px solid red;

        #carName {
            margin-top: 1rem;
            font-size: 3rem;
            // align-self: center;
        }

        .main {
            @include c.flex-center;
            width: inherit;
            height: $containerHeight;
            background-color: white;
            border-left: 1px solid red;
            border-right: 1px solid red;
            overflow: hidden;

            #mainImage {
                width: inherit;
                height: inherit;
                object-fit: contain;
                mix-blend-mode: multiply;
            }
            
            p {
                font-size: 4rem;
            }
        }

        .alt {
            @include c.flex-center;
            height: 5rem;
            width: 58.6rem;
            gap: 2rem;
            
            a {
                height: 1.5rem;
                width: 1.5rem;
                background-color: c.$darkPrimary;
                border-radius: 50%;
                border: none;
            }
        }
    }

    .info {
        grid-area: info;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        background-color: white;
        border-radius: c.$borderRadius;
        padding: 3rem 4rem;
        border: 1px solid red;
        width: 40rem;
        height: 100%;
        margin-left: 18rem;

        * {
            font-size: 2rem;
        }

        .infoIcons {
            @include c.flex-center;
            margin-top: 1rem;
            gap: 6rem;

            div {
                @include c.flex-center;
                flex-direction: column;
                
                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }

        #price {
            align-self: center;
            @include c.flex-center;

            span:nth-child(2) {
                font-size: 4rem;
            }
        }

        a {
            margin-top: 1rem;
            padding: 1rem;
            border-radius: c.$borderRadius;
            align-self: center;
            background-color: c.$lightPrimary;
            text-decoration: none;
            font-weight: bold;
            color: c.$primaryText;
        }
    }

    .description {
        grid-area: description;
        // @include c.flex-center;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
        margin-top: 5rem;
        border: 1px solid red;
        border-radius: c.$borderRadius;
        width: 100%;
        background-color: white;
        padding: 2rem 4rem;
    }
}