@use '../common/index' as c;

.container-userConfig{
    grid-area: main;
    height: auto;
    

    .all-user-config{
        // height: 39rem;
        @include c.flex(center,none,none,wrap);
        padding: 3rem 2rem;
        background-color: c.$divider;
        gap: 2rem;

        .personName{
            background-color: white;
            // height: 34rem;
            padding: 1rem;
            border-radius: c.$borderRadius;
            @include c.flex-center;
            flex-direction: column;
            gap: 1rem;
            margin-right: 3rem;
            box-shadow: 0 0 .5rem black;

            .top{
                @include c.flex-center;
                flex-direction: column;
                img{
                    width: 10rem;
                }

                >span:nth-child(2){
                    font-weight: bold;
                }

                >span:nth-child(3){
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: c.$secondaryText;
                }
            }

            .bottom{
                display: flex;
                flex-direction: column;
                gap: .5rem;

            div{
                @include c.flex(flex-start,center,none,nowrap);
                gap: .5rem;
                width: 100%;
                padding: .2rem;
                border-radius: .4rem;
                cursor: pointer;
                &:hover{
                    background-color: c.$secondaryText;
                }

                    i{
                    font-size: 2rem;
                    color: black;    
                    }

                    span{
                        color: black;
                        font-weight: bold;
                        font-size: 1.5rem;
                    }
                }
            }
            
        }

        .profile{
            border-radius: c.$borderRadius;
            // height: 34rem;
            @include c.flex(flex-start,center,column);
            padding: 1rem;
            gap: 1rem;
            background-color: white;
            box-shadow: 0 0 .5rem black;

            div{
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            .title{
                span{
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            .name-pwd{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                span{
                    font-size: 1.8rem;
                    font-weight: bold
                }
                input{
                    @include c.widhgt(38rem,4rem);
                    outline: none;
                    padding-left: 1rem;
                    font-size: 1.5rem;
                    border-radius: .5rem;
                    border: 1px solid c.$secondaryText;
                    
                }
            }

            .btn{
                @include c.flex-center;

                button{
                    @include c.widhgt(20rem,4rem);
                    border: none;
                    border-radius: c.$borderRadius;
                    box-shadow: 0 0 .5rem black;
                    background-color: c.$btnSearch;
                    transition: .2s ease-in-out;

                    span{
                        color: c.$icons;
                    }
                    font-weight: bold;
                }

                button:hover {
                    transform:scale(1.1);
                }
            }

            .links {
                margin-top: 1.5rem;
                @include c.flex-center;
                gap: 2rem;
                
                a {
                    border-radius: c.$borderRadius;
                    background-color: c.$lightPrimary;
                    padding: 1rem;
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    transition: .2s ease-in-out;
                    box-shadow: 0 0 .5rem black;
                    text-align: center;
                }

                a:hover {
                    transform:scale(1.1);
                }
            }
        }

    }

    @media(max-width:1031px){
        .all-user-config{
            // height: 95rem;
            .personName{
                // width: 80%;
                @include c.flex(none,flex-start,column);
                // height: 40rem;
                margin-right: 0;
                justify-content: center;
                align-items: center;

                .top{
                    align-self: center;
                }

                .bottom{
                    div{
                        width: 100%;
                        i{
                            font-size: 2.3rem;
                        }

                        span{
                            font-size: 2rem;
                        }
                    }
                }
            }

            .profile{
                width: 80%;
                // height: 42rem;
                // margin-bottom: 4rem;
                .name-pwd{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4,auto);
                    input{
                        width: 100%;
                    }
                }
            }
        }
    }
}

