@mixin widhgt($width,$height){
    width: $width;
    height: $height;
}

@mixin flex($justify,$align,$direction:row,$wrap:wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin flex-center($direction:row){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}


@mixin sizeColor($font,$color,$weight){
    font-size: $font;
    color: $color;
    font-weight: $weight;
}

@mixin containerAll{
    height: 100vh;
    width: 100vw;
}