<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/base.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Remoção de produto</title>
    <script src="./js/baseResponsive.js" defer></script>
</head>
<body>
    <div class="baseContainer">

        <%- include("./partials/header.ejs") %>

        <%- include("./partials/nav.ejs") %>

        
            <div class="deleteProductContainer">
                <form method="post" action="http://localhost:8080/deleteProductPost">
                    <input required type="number" id="productId" name="productId" placeholder="ID do produto">
                    <button><strong>Remover</strong></button>
                </form>
            </div>
        

        <%- include("./partials/footer.ejs") %>

    </div>
</body>
</html>